<main class="container p-5">
	<div class="row p-5">
		<div class="col-md-6 float-md-none mx-auto">
			<img src="assets/img/404.png" alt="Error 404" class="img-fluid wow fadeIn">
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-md-12 text-center mb-r">
			<h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s" style="font-weight:500;">Oops! Esta no es la pagina que estás buscando.</h2>
			<p style="font-size:1.25rem;">Porfavor, Utiliza el siguiente boton para regresar.</p>
			<a routerLinkActive="active" [routerLink]="['/index1']" class="btn btn-success"><span class="fa fa-hand-o-left fa-5">   Regresar</span></a>
		</div>
	</div>
</main>