<main>
    <div class="container mb-5 margen-registro">
        <div class="row">
            <div class="col-md-12">
                <div class="card col-md-6 col-md-offset-3 z-depth-2">
                    <div class="card-block">
                        <div class="text-center">
                            <div class="form-header cyan darken-1">
                                <h3><i class="fa fa-address-card fa-5"></i> Crear Cuenta</h3>
                            </div>
                        </div>
                        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="md-form">
                                <span class="fa fa-user-circle-o prefix"></span>
                                <input type="text" name="username" #username="ngModel" [(ngModel)]="model.username" lass="form-control">
                                <label for="username">Usuario </label>
                            </div>
                            <div class="md-form">
                                <span class="fa fa-envelope prefix"></span>
                                <input type="email" name="correo" #correo="ngModel" [(ngModel)]="model.correo" class="form-control">
                                <label for="correo">Email </label>

                            </div>

                            <!-- <div class="md-form">
                                <span class="fa fa-address-book-o prefix"></span>
                                <input type="text" id="nombre" class="form-control">
                                <label for="nombre">Nombre </label>
                            </div>
                            <div class="md-form">
                                <span class="fa fa-address-book prefix"></span>
                                <input type="text" id="apellido" class="form-control">
                                <label for="apellido">Apellido </label>
                            </div>-->
                            <div class="md-form">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" name="clave" #clave="ngModel" [(ngModel)]="model.clave" class="form-control">
                                <label for="clave">Contraseña</label>
                            </div>
                            <div class="text-center">
                                <!--<button routerLinkActive="active" [routerLink]="['/logeado/index2']" class="btn btn-success">Crear Cuenta</button>-->

                                <button type="submit" routerLinkActive="active" class="btn btn-success">Crear Cuenta</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>