   <main>
        <div class="container-fluid">
            <div class="row">
                        <div class="col-md-4">
                             <div class="card card-cascade wider">
                                <div class="view overlay hm-white-slight">
                                    <img src="assets/img/1.jpg" class="img-fluid">
                                    <a href="#!">
                                         <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <div class="card-block">
                                    <h4 class="card-title">Aprende con otros usuarios!</h4>
                                    <p class="card-text">Interactúa con otros usuarios y aprende con ellos!. Compartan el conocimiento que han aprendido, para ayudar a los demás!.</p>
                                    <a class="pull-right btn btn-success">Conversa <i class="fa fa-users"></i></a>
                                </div>
                             </div>
                    </div>
                        <div class="col-md-4">
                             <div class="card card-cascade wider">
                                <div class="view overlay hm-white-slight">
                                    <img src="assets/img/2.jpg" class="img-fluid">
                                    <a href="#!">
                                         <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <div class="card-block">
                                    <h4 class="card-title">Inicia tu primer curso!</h4>
                                    <p class="card-text">Escoge uno de los cursos y aprende de manera fácil por medio de frases!.</p>
                                    <a routerLinkActive="active" [routerLink]="['/login']" class="pull-right btn btn-success">Empezar  <i class="fa fa-arrow-circle-o-right"></i></a>
                                </div>
                             </div>
                    </div>

                        <div class="col-md-4">
                             <div class="card card-cascade wider">
                                <div class="view overlay hm-white-slight">
                                    <img src="assets/img/3.png" class="img-fluid">
                                    <a href="#!">
                                         <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <div class="card-block">
                                    <h4 class="card-title">Observa tu progreso!</h4>
                                    <p class="card-text">Podras observar el progreso que llevas en el estudio del idioma y tambien el de los demas cursantes.</p>
                                    <a class="pull-right btn btn-success">Ver  <i class="fa fa-eye"></i></a>
                                </div>
                             </div>
                    </div>
            </div>
        </div>
    </main>
