<main>
    <h2 class="text-center">Bienvenido a Wankar</h2>
    <h3 class="text-center mb-2">Cual idioma desea aprender primero?</h3>

        <div class="container ">
            <div class="row mb-5 ">
                <div class="col-md-11 col-md-offset-1">
                    <div class="col-md-4">
                        <div class="ajustar-card ">
                            <div class="view overlay hm-white-slight">
                                <img src="assets/img/kichwa.png" class=" ajustar-imagen" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-block">
                                <h4 class="card-title"></h4>
                                <div class="text-center">
                                    <a href="#" routerLinkActive="active" [routerLink]="['/registro']" class="btn btn-success waves-effect waves-light">Kichwa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ajustar-card">
                            <div class="view overlay hm-white-slight">
                                <img  src="assets/img/english.jpg"  class="ajustar-imagen" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-block">
                                <h4 class="card-title"></h4>
                                <div class="text-center">
                                    <a href="#" routerLinkActive="active" [routerLink]="['/registro']" class="btn btn-success waves-effect waves-light">English</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ajustar-card">
                            <div class="view-imagen overlay hm-white-slight">
                                <img src="assets/img/germany.jpg" class="ajustar-imagen" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-block">
                                <h4 class="card-title"></h4>
                                <div class="text-center">
                                    <a href="#" routerLinkActive="active" [routerLink]="['/registro']" class="btn btn-success waves-effect waves-light">German</a>
                                </div>
                            </div>
                        </div>
                    </div>
               </div> 
            </div>
            <div class="row">
                <div class="col-md-11 col-md-offset-1"> 
                    <div class="col-md-4">
                        <div class="ajustar-card">
                            <div class="view overlay hm-white-slight">
                                <img src="assets/img/frances.jpg" class=" ajustar-imagen" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-block">
                                <h4 class="card-title"></h4>
                                <div class="text-center">
                                    <a href="#" routerLinkActive="active" [routerLink]="['/registro']" class="btn btn-success waves-effect waves-light">French</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ajustar-card">
                            <div class="view overlay hm-white-slight">
                                <img src="assets/img/portuguese.png" class=" ajustar-imagen" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-block">
                                <h4 class="card-title"></h4>
                                <div class="text-center">
                                    <a href="#" routerLinkActive="active" [routerLink]="['/registro']" class="btn btn-success waves-effect waves-light">Portuguese</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ajustar-card">
                            <div class="view overlay hm-white-slight">
                                <img src="http://as01.epimg.net/img/comunes/fotos/fichas/paises/svg/esp.svg" class=" ajustar-imagen" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-block">
                                <h4 class="card-title"></h4>
                                <div class="text-center">
                                    <a href="#" routerLinkActive="active" [routerLink]="['/registro']" class="btn btn-success waves-effect waves-light">Spanish</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </main>