<main class="container p-5">
    <div class="row p-5">
        <div class="col-md-6 float-md-none mx-auto">
            <img src="assets/img/error500.png" alt="Error 500" class="img-fluid wow fadeIn">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center mb-r">
            <h2 class="h2-responsive" style="font-weight:500;">Ha ocurrido un error inesperado con el servidor</h2>
            <p style="font-size:1.25rem;">Porfavor, revisa la dirección y prueba denuevo o utiliza nuestro boton par regresar.</p>
            <a routerLinkActive="active" [routerLink]="['/index1']" class="btn btn-success"><span class="fa fa-hand-o-left fa-5"> Regresar</span></a>
        </div>
    </div>
</main>