<main class="">
        <div class="container">
            <section class="section">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card mb-r">
                            <div class="card-block">
 
                            </div>
                        </div>
                        <div class="card mb-r">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card contact-card with-padding mb-r">
                            <div class="admin-panel info-admin-panel">
                                <div class="form-header cyan accent-5">
                                    <h4>Actividad</h4>
                                </div>
                                    <div class="card-block">
                                        <p><i class="fa fa-flag mr-1" aria-hidden="true"></i> Status: <strong>Principiante</strong></p>
                                        <p><i class="fa fa-eye mr-1" aria-hidden="true"></i> Estado: <strong>Online</strong></p>
                                        <p><i class="fa fa-archive mr-1 mr-1" aria-hidden="true"></i> Horas: <strong>2</strong></p>
                                        <p><i class="fa fa-calendar mr-1" aria-hidden="true"></i> Dias Cursantes: <strong>2</strong></p>
                                        <div class="text-center">
                                            <button class="btn btn-success">Ver Más</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
           
                        <div class="card contact-card with-padding">
                            <div class="card-block">
                                <div class="text-center">
                                    <h3>Proximamente</h3>
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </section>            
        </div>
    </main>